{% extends 'base.html' %}

{% block title %} All Profiles {% endblock %}
{% block css %}
<link href="{{ url_for('static', filename='css/profiles.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
<h1 class="page-header">Profiles</h1><br>
{% for user in users %}
    <div class="profile">
    <!--<hr class="top"/>-->
        <div class="photo">
            <img id = "profilepic" src="{{ url_for('static', filename='uploads/'+user.filename) }}"></img>
        </div>
        <div class="info">
            <h3><span class="bold">{{user.firstname}} {{ user.lastname }}</span></h3><br>
            <p><span class = "bold">Gender:</span> {{ user.gender }} </p>
            <p><span class = "bold">Location:</span> {{ user.location }} </p>
        </div>
        <div class="button">
            <a href="{{ url_for('user_profile', id= user.id ) }}"><button class="btn btn-success" style="padding:10px 40px; font-size:20px">View Profile</button></a>
        </div>
    </div><br>
{% endfor %}
{% endblock %}