{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/userprofile.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
  {% for image_name in imagenames %}
    {% if user.filename == image_name %}
      <br>
      <div id="profile">
        <div class="content">  
          <div class="inner-content">
            <div>
                <img id="profileimg" src="{{url_for('static', filename='uploads/'+image_name)}}" alt="user photo" class="userimg">
            </div>
            <div>
                <div class="info" style = "position:relative;left:25px;">
                  <br>
                  <h4>{{ user.firstname }} {{ user.lastname }}</h4><br>
                  <p><span></span>{{ user.email }}</p>
                  <p><span></span>{{ user.location }}</p>
                  <p><span></span>Joined on {{ user.date_joined.strftime("%B %d, %Y") }}</p>
                </div>
            </div>  
          </div>
          <br>
          <br>
          <div class="bio">
              <h5>About Me</h5>
              <p>{{user.bio}}</p>
          </div><br>
          <div>
              <button id="btn1" class="btn btn-success btn-md">Send Message</button>
              <button id="btn2" class="btn btn-info btn-md">Follow</button>
          </div><br>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  
{% endblock %}